<h1>Lista de Productos</h1>

<ul id="product-list" style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-around; gap: 20px; margin-top: 20px;">
    {{#each products}}
        <li style="border: 1px solid #ccc; padding: 10px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
            <h2>{{this.title}}</h2>
            <p><strong>Precio:</strong> ${{this.price}}</p>
            <p><strong>Descripción:</strong> {{this.description}}</p>
        </li>
    {{/each}}
</ul>
